@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;700&display=swap");

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.content {
  width: 75%;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;
}

/* style header */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #ccc;
}
.navbar {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}
.navbar li {
  transition: box-shadow 500ms;
}
.navbar li:hover {
  box-shadow: 0px -5px 0px blue inset;
}
a {
  text-decoration: none;
}

/* style individual sections */
.christian,
.gad,
.ted,
.julius,
.victor,
.samson {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  line-height: 2rem;
}

img {
  display: block;
  width: 700px;
  height: 250px;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0px 0px 5px blue;
}
.christian img,
.ted img,
.victor img {
  margin-right: 15px;
}

/* style buttons */
button {
  padding: 10px;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: box-shadow 0.8s;
  cursor: pointer;
}
button:hover {
  box-shadow: 102px 0px 0px blue inset;
  color: #fff;
}
button:hover a{
  color: #fff;
}

/* style footer */
footer {
  margin-top: 3rem;
  padding: 10px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  text-align: center;
  background-color: blue;
  color: #fff;
}
footer div {
  text-align: center;
}
footer img {
  width: 30px;
  height: 30px;
  display: inline;
}
footer p {
  font-weight: 200;
}
